<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" placeholder="Name" name="name">
        <input type="number" placeholder="Age" name="age">
        <input type="text" placeholder="College Name" name="college">
        <input type="email" placeholder="Mail Address" name="email">

        <button type="submit">Submit Now</button>
    </form>
</body>
</html>