<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap'); 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    form {
        border: 1px solid black;
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 5rem 4rem 5rem;
        margin-top: 6rem;
    }
    form input {
        width: 15rem;
        height: 2rem;
        padding-left: 0.2rem;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        margin: 0.2rem;
    }
    form h2 {
        position: relative;
        bottom: 1.6rem;
    }
    form input:focus {
        border-bottom: 2px solid blue;
    }
    button {
        border: none;
        font-weight: 600;
        padding: 0.6rem 1rem 0.6rem 1rem;
        cursor: pointer;
        margin-top: 1rem;
    }
</style>

<body>
    <form action="/" method="post">
        <h2>Welcome, Visitor!</h2>
        <input type="text" placeholder="Name" name="name" required>
        <input type="number" placeholder="Age" name="age" required>
        <input type="text" placeholder="College Name" name="college" required>
        <input type="email" placeholder="Mail Address" name="email" required>

        <button type="submit">Submit Now</button>
    </form>
</body>
</html>